body{
color:black;
background: orangered;
margin: 0px;
}

header{
    border-bottom: solid 2px black; 
    padding: 20px;
    font-size: 32px;
    color:white;
}

section {
    background: gray;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}